<!-- FOOTER => footer.css -->

  <!-- FOOTER  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<footer>
    <section class="footer-container">
        <p>&copy; Cloundmind 2025 - Todos os direitos reservados</p>
        <section class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </section>
    </section>
</footer>