<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós - DigitalHub</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/sobre.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>

<header>
<%- include('../partials/menu') %> 
</header>

<main>

    <section class="intro">
        <h1>Sobre Nós</h1>
        <p>
            A <strong>CloundMind</strong> é um marketplace 100% digital criado para conectar criadores e consumidores de conteúdos digitais de forma simples, justa e inspiradora. Aqui, qualquer pessoa pode vender ou comprar eBooks, cursos, templates, flashcards, mapas mentais, checklists, audiobooks e muito mais. Nossa plataforma é inclusiva, acessível e feita para impulsionar a criatividade, gerar renda e promover aprendizado.
            Mais do que um site, somos uma comunidade que acredita no poder das ideias e no potencial de cada indivíduo para transformar conhecimento em oportunidades.
        </p>
    </section>

    <section class="missao-visao-valores">
        <article>
            <h2>Missão</h2>
            <p>Nossa missão é democratizar a criação e o consumo de produtos digitais, oferecendo um espaço acessível, seguro e intuitivo para que qualquer pessoa possa empreender, aprender e compartilhar conhecimento, valorizando a criatividade e incentivando a inovação.</p>
        </article>
        <article>
            <h2>Visão</h2>
            <p>Ser referência em marketplace de produtos digitais no Brasil, reconhecida por impulsionar criadores independentes, oferecer experiências de compra e venda simples e seguras e inspirar uma nova geração de empreendedores digitais.</p>
        </article>
        <article>
            <h2>Valores</h2>
            <ul>
                <li>Inclusão digital</li>
                <li>Transparência</li>
                <li>Colaboração</li>
                <li>Qualidade</li>
                <li>Inovação</li>
            </ul>
        </article>
    </section>

    <section class="historia">
        <h2>Nossa História</h2>
        <p>A Cloundmind nasceu da ideia de criar um espaço onde o conhecimento e a criatividade pudessem ser compartilhados sem barreiras. Inspirados por jovens criadores, estudantes e microempreendedores que buscavam visibilidade e liberdade para vender seus conteúdos, desenvolvemos uma plataforma simples, intuitiva e com custos justos. Mais do que um marketplace, somos uma comunidade que acredita que cada pessoa tem algo único para oferecer ao mundo — e que o digital é o caminho para transformar isso em realidade.</p>
    </section>

    <section class="equipe">
        <h2>Nosso Time</h2>
        <ul>
            <li>
                <figure>
                    <img src="image/ana.png" alt="Foto de Ana Souza">
                    <figcaption>
                        <strong class="cor">Ana Júlia Z.</strong><br>
                        Gerente<br> Banco de Dados<br>Documentadora<br>Analista de Sistema
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="image/rodrigo.png" alt="Foto de Lucas Almeida">
                    <figcaption>
                        <strong class="cor">Rodrigo C.</strong><br>
                        Desenvolvedor Front-End<br>Analista de Sistemas<br>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="image/paulo.png" alt="Foto de Mariana Silva">
                    <figcaption>
                        <strong class="cor">Paulo S.</strong><br>
                        Desenvolvedor Back-End<br>Analista de Sistemas
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="image/livia.png" alt="Foto de Pedro Santos">
                    <figcaption>
                        <strong class="cor">Livía S.</strong><br>
                        Designer
                    </figcaption>
                </figure>
            </li>

             <li>
                <figure id="fogun">
                    <img src="image/rafael.png" alt="Foto de Pedro Santos">
                    <figcaption>
                        <strong class="cor">Rafael F.</strong><br>
                        Conteúdo & Educação
                    </figcaption>
                </figure>
            </li>

             <li>
                <figure id="fogun">
                    <img src="image/enrico.png" alt="Foto de Pedro Santos">
                    <figcaption>
                        <strong class="cor">Enrico L.</strong><br>
                        Conteúdo & Educação
                    </figcaption>
                </figure>
            </li>


        </ul>
    </section>

  
</main>

<footer>
<%- include('../partials/footer') %>

</footer>

</body>
</html>
